{% extends 'admin_base.html' %}
{% block body_block %}
{% load static %}

<h2 class="text-primary mb-5">Upload Composition Excel File</h2>

<!-- Form for Uploading Compositions -->
<form method="post" enctype="multipart/form-data" action="{% url 'upload_composition_from_excel' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="excel_file">Select Excel File:</label>
        <input type="file" name="excel_file" id="excel_file" class="form-control" required>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-2 flex-wrap">
        <!-- Left: Upload Button -->
        <button type="submit" class="btn btn-success mb-2">
          <i class="fa fa-upload"></i> Upload
        </button>
      
        <!-- Right: Back Button -->
        <a href="{% url 'composition_list' %}" class="btn btn-secondary mb-2">Back</a>
      </div>
      
</form>
{% endblock %}