{% extends 'admin_base.html' %}
{% block body_block %}
{% load static %}

<!-- FontAwesome for icons (make sure it's included in your base template) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container">
  
  <!-- Top Section with Create Button -->
  <div class="d-flex justify-content-between align-items-center mt-4">
    <center><h2 class="text-primary">Certification List</h2></center>
    <a href="{% url 'certification_create' %}" class="btn btn-primary">
      <i class="fa fa-plus"></i> Create Certification
    </a>
  </div>

  <div class="users-table table-wrapper mt-4">
    <table class="posts-table table table-striped table-bordered">
      <thead>
        <tr class="users-table-info text-center">
            <th>Certification Name</th>
            <th>Issued By</th>
            <th>Issue Date</th>
            <th>Expiry Date</th>
            <th>Certification Number</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for certification in certifications %}
        <tr>
            <td>{{ certification.name }}</td>
            <td>{{ certification.issued_by }}</td>
            <td>{{ certification.issue_date }}</td>
            <td>{{ certification.expiry_date }}</td>
            <td>{{ certification.certification_number }}</td>
            <td>{{ certification.status }}</td>

            <td>
                <a href="{% url 'certification_update' certification.id %}" class="btn btn-primary btn-sm">
                  <i class="fa fa-edit"></i> Update</a>
                <a href="{% url 'certification_delete' certification.id %}" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}