{% extends 'admin_base.html' %}
{% block body_block %}
{% load static %}

<!-- FontAwesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="container">
  <!-- Top Section with Create Button -->
  <div class="d-flex justify-content-between align-items-center mt-4">
    <h2 class="text-primary text-center w-100">Admin List</h2>
    <a href="{% url 'admin_signup' %}" class="btn btn-primary">
       Create
    </a>
  </div>

  <div class="users-table table-wrapper mt-4">
    <table class="posts-table table table-striped table-bordered" id="tableID">
      <thead class="text-white" style="background-color: #b66dff;">
        <tr class="users-table-info text-center">
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Alternate Phone Number</th>
          <th>Date of Birth</th>
          <th>Address</th>
          <th>Gender</th>
        
        </tr>
      </thead>
      <tbody>
        {% for admin in admin %}
        <tr>
          <td>{{ admin.first_name }} {{ admin.last_name }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.phone_number }}</td>
          <td>{{ admin.alternate_phone_number }}</td>
          <td>{{ admin.dob }}</td>
          <td>{{ admin.address }}</td>
          <td>{{ admin.get_gender_display }}</td>
   
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
